.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002b5b;
  padding: 10px 20px;
  color: white;
}

.logo {
  height: 35px;
  margin-right: 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
}
